<%- include("header.ejs")%>
    <div class="about">
        <img class= "pic"  src="shula.png" alt="">

<div class="text">
    <h1>About Us</h1>
    <p>Welcome to My Blog! We are passionate about sharing knowledge and ideas through our blog posts. Our goal is to provide valuable content to our readers on a wide range of topics, including technology, lifestyle, travel, and more.</p>
    <p>Our team of writers is dedicated to producing high-quality articles that inform, inspire, and entertain. Whether you're a seasoned reader or new to our blog, we hope you find our content enjoyable and enriching.</p>
    <p>Thank you for visiting My Blog. Stay tuned for regular updates and new posts!</p>
    </div>
    </div>
 
    <%- include("footer.ejs")%>


